// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "screen";

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

@charset "UTF-8";

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format("embedded-opentype"), url('../fonts/icomoon.woff') format("woff"), url('../fonts/icomoon.ttf') format("truetype"), url('../fonts/icomoon.svg#icomoon') format("svg");
	font-weight: normal;
	font-style: normal;
}


/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/

.icon-print:before, .icon-linkedin:before, .icon-file-word:before, .icon-file-pdf:before, .icon-facebook:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-print:before {
	content: "\e000";
}

.icon-linkedin:before {
	content: "\e001";
}

.icon-file-word:before {
	content: "\e002";
}

.icon-file-pdf:before {
	content: "\e003";
}

.icon-facebook:before {
	content: "\e004";
}

/**** Variables ****/

/*** Colors ***/
$color1: #000000; 	//Black
$color2: #555555;	//Dark-Gray
$color3: #ebebeb;	//Light-Gray
$color4: #dddddd;	//Light Blue
$color5: #66ccdd;	//Lighter Blue
$color6: #f8f8f8;	//White

/** Body **/
$bodyBgClr: $color6;
$bodyTxtClr: $color2;

/** Header **/
$nameClr: $color1;			//Text color for the name
$headerBgClr: $color3;		//Background color
$textClr: $color2;			//Text color
$textShadowClr: $color3;	//Text shadow color
$boxShadowClr: $color3;

/** Navigation **/
$navTxtClr: $color6;	// Text color
$navBgClr: $color2;		//Background color
$hoverTxtClr: $color5;
$hoverBgClr: $color2;

/** Content **/
/* Titles */
$titlePriTxtClr: $color6;		//Text color for primary titles
$titlePriBgClr: $color2;		//Background color for primary titles
$titleSecTxtClr: $color2;				//Text color for secondary titles
$titleSecBgClr: $color3;				//Background color for secondary titles
$selectTxtClr:$color6;
$selectBgClr: $color2;

/* Links */
$linkTxtClr: $color5;
$linkTxtHoverClr: $color2;

/* Borders */
$titleDarkBdrClr: #111111 #444444 #444444 #111111;
$titleLightBdrClr: #BCBCBC #DDDDDD #DDDDDD #BCBCBC;

/* Table */
$tableOutBdrClr: $color4;
$tableInBdrClr: $color4;
$tableThBgClr: $color3;
$tableThTxtClr: $color2;
$tableTdTxtClr:	$color2;

/** Footer ***/
$footerBgClr: $color2;
$footerTxtClr: $color6;

// Margins
$margin20x0: 0 20px 0 20px;
$margin20x16: 0 20px 16px 20px;
$margin30x0: 0 30px 0 30px;
$margin30x10: 10px 30px 10px 30px;

// Fonts
$font: Helvetica,Arial,sans-serif;

.fs1 {
	font-size: 1.3em;
}


/**** Classes ****/
// Firefox border fix
.mozBorderColorNone{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}

.sticky {
	position: fixed;
	top: 0;
}

section {
	padding:0;
	margin:0;
    /* Prevents horizontal scrollling for off-canvas elements */
    overflow-x: hidden;
}

/* Make sure that the bands stretch to 100% width */
.full-width, .site-footer {
	min-width:100%;
	position: relative;
	z-index:9999;
}

/**** Styling ****/
html{
	overflow-x: hidden;
}

body{
	font: 13px/21px $font;
	color: $bodyTxtClr;
	text-shadow: 1px 1px 0 $color6;
	background: $bodyBgClr;

}

h1{
	font: 21px/31px $font;
}

h2{
	@extend .mozBorderColorNone;
	background-color: $titlePriBgClr;
	color: $titlePriTxtClr;
	font: 17px/21px $font;
	margin: 16px 0 16px 0;
	padding: 4px 10px;
	text-shadow: none;
	text-transform: uppercase;
}

h3{
	@extend .mozBorderColorNone;
	background-color: $titleSecBgClr;
	color: $titleSecTxtClr;
	font: bold 15px/21px $font;
	margin: 16px 10px 16px 10px;
	padding: 4px 10px;
	text-transform: uppercase;
}

h4{
	margin: $margin20x16;
	border-bottom: 1px solid $color4;
	font: 15px/21px $font;
	padding: 4px 0;
	position: relative;
	color: $color2;
}

h5{
	margin: $margin20x16;
	border-bottom: 1px solid $color4;
	font: 15px/19px $font;
	color: $color2;
}

p {
	margin: 0 30px 16px 30px;
}

a{
	color: $linkTxtClr;

	&:hover{
		@include text-shadow($color6 1px 1px 5px, $color6 -1px -1px 5px);
		color: $linkTxtHoverClr;
	}
}

abbr{
	color: $color5;
}

::selection {
	color: $selectTxtClr;
	background-color: $selectBgClr;
	text-shadow: none;
}

#headerWrapper{
	@include box-shadow ($boxShadowClr 2px 0px 20px);
	background: url("../img/header-bg.png") repeat-x scroll left bottom $headerBgClr;
	clear: both;
	padding: 23px 0 0 0;
	position: relative;
	width: 100%;
	z-index: 20;
	#header{
		overflow: hidden;
		color: $textClr;
		#label{
			text-align: right;
			overflow: hidden;
			h1{

				&#title{
					background: url("../img/h1-bg.png") repeat-x scroll left bottom transparent;
					color: $nameClr;
					margin: 0 0 12px;
					padding: 0 0 8px;
					text-align: right;
					text-transform: uppercase;
					width: 100%;
				}
			}
			p{
				margin-right: 0;
			}
		}
		#intro{
			font-size: 14px;
			line-height: 27px;

			#introQuote{
				margin: 10px 0 0 0;
				text-align: right;
				line-height: 1.2;
				font-style: italic;

			}
			#profile{
				margin: 30px 0 0 0;
				line-height: 1.6;
			}
		}



	}
}


#headerWrapperMobile{
	@include box-shadow ($boxShadowClr 2px 0px 20px);
	background: url("../img/header-bg.png") repeat-x scroll left bottom $headerBgClr;
	clear: both;
	padding: 10px 0 0 0;
	overflow: hidden;
	// position: fixed;
	width: 100%;
	z-index: 20;
	#buttonSmall{
		overflow: hidden;
		color: $textClr;
		margin-bottom: 10px;
		.button {
			background-color:#dddddd;
			border-color: #cccccc;
			color:#222222;
			width: 20%;
			display: inline-block;
		}

		.button:hover {
			background-color: #bbb;
    					box-shadow: 0px 0px 10px rgba(0, 0, 0, .8) inset; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
    					border-color: #444444;
    					color:#222222;
    				}

    				.button:focus {
    					-webkit-box-shadow: 0 0 4px #ffffff, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    					-moz-box-shadow: 0 0 4px #ffffff, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    					box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    					color: #222;
    				}
    				span{
    					@extend h1;
    					right: 0px;
					// text-align: right;
					&#title{
						background: url("../img/h1-bg.png") repeat-x scroll left bottom transparent;
						color: $nameClr;
						text-transform: uppercase;
						width: 100%;
					}
				}
			}
		}

		#headerShadow{
			clear: both;
			height: 25px;
			overflow: hidden;
			position: relative;
			width: 100%;
			z-index: 100;
		}

		.callout {
			padding:20px 0;
			p {
				font-family:'Open Sans', sans-serif;
				text-align:center;
				font-size:2em;
				font-weight:600;
				color:#222222;
				margin-bottom: 0;
			}
		}
		#sidebar {
			position: absolute;
			z-index: 10;
			top: -155px;
			background: none;
			text-align: right;
			width: auto;
			padding: 0px 0px 0px 70px;

			nav	{
				#avatar {
					height: 125px;
					margin: 0 0 45px;
					top: -190px;
					z-index: 0;

					a{
						display: block;
						img{
							border: 1px solid #ccc;
							padding: 5px;
							margin: 0 0 20px;
							background-color: #ebebeb;
						}
					}
				}
				.nav-bar{
					background: none;
					ul{
						z-index: 1000;
						&#navMain {
							li{
								margin-bottom: 7px;

								a:hover, a:focus, a.selected{
									background-color: $hoverBgClr;
									color: $hoverTxtClr;
								}

								a{
									@extend .mozBorderColorNone;
									background-color: $navBgClr;
									color: $navTxtClr;
									padding: 2px 8px;
									text-decoration: none;
									text-shadow: none;
									text-transform: uppercase;
								}
							}
						}

					}
				}
			}
			#networkLinks{
				float: right;
				margin-top: 20px;
				padding-top: 10px;
				vertical-align: center;
			}
		}


		#content{
			position: relative;
			top: 0;

			ul, ol{
				margin: $margin30x10;
				li{
					margin: $margin30x0;
				}
			}

			#education{

			}

			#technical{
				table{
					margin: 20px 30px 20px 30px;
					border: 1px solid $tableOutBdrClr;
					border-collapse: collapse;

					th{
						background-color: $tableThBgClr;
						font-weight: bold;
						border: 1px solid $tableInBdrClr;
						padding: 4px 8px;
						color: $tableThTxtClr;
						abbr{
							color: $tableThTxtClr;
						}

					}

					td{
						border: 1px solid $tableInBdrClr;
						font: 13px/21px $font;
						color: $tableTdTxtClr;

					}
				}
			}

			#skills{

			}

			#work{

			}

			#gallery{
				ul{
					margin: $margin20x0;
					li{
						margin: 0 0 0 0;
						float: left;
						display: inline;
						padding: 0 13px 20px 12px;
						a{
					// float: left;
					display: block;
					width: 70px;
					height: 65px;
					filter: alpha(opacity=75);
					-moz-opacity: 0.75;
					opacity: 0.75;
				}
			}
		}

		h3{

		}
	}
	#awards{
		margin: 0 0 150px 0;
	}
}

#footerBg{
	@include box-shadow ($color4 2px 0px 20px);
	width: 100%;
	background-color: $footerBgClr;
	padding: 6px 0;
	#footer{
		text-align: center;
		color: $footerTxtClr;
		p{
			text-shadow: none;
			padding:10px 0 0 0;
		}
	}
}

#contact{
	z-index: 100;
	.label{
		background: $color6;
		color: $color2;
	}
	.field{
		margin: $margin30x0;
		#message{
			max-width: 400px;
		}
	}
	span{
		float: right;
		color: red;
	}
	.buttons{
		float: right;
		margin: $margin30x0;
		.submit{
			background: $color2;
			color: $color6;
			border: 1px solid $color2;
			padding: 3px 10px 3px;

		}
	}
	.close-reveal-modal{
		font-size: 1.5rem;
	}
}

#alert{
	z-index: 100;
	h4{
		border-bottom: none;
	}
	.buttons{
		float: right;
		margin: $margin30x0;
		.submit{
			background: $color2;
			color: $color6;
			border: 1px solid $color2;
			padding: 3px 10px 3px;

		}
	}
	.close-reveal-modal{
		font-size: 1.5rem;
	}
}

[role="complementary"], [role="main"] {
	/* remove the default padding */
	padding:0;
}

#wrapperMobile{
	display: none;
}









